.day-container {
    width: 80%;
}


h2 {
    text-align: left;
    font-size: 25px;
}


.page-header {
    padding-top: 100px;
    font-size: 20px;
}

.form-input {
    font-size: 20px;
}

p {
    color: rgb(244, 240, 124);
}

table {
    text-align: center;
    margin: 0 auto;
    border: 2px solid black;
}

ul {
    list-style-type: none;
}

.small-font {
    font-size: 12px;
}

.day-temperature {
    font-weight: bold;
}

.hour-icons-container td,
th {
    border-right: 1px solid #ccc;
}

.span-data {
    text-align: left;
    //  position: absolute;
}

.temperature {
    background-color: rgb(237, 186, 93);
}

.day-info-table-header,
.day-info-table {
    border: none;
}

.weather-cards-container {
    display: flex;
    // overflow-x: scroll;
}


.day-selector {
    position: sticky;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 2px solid transparent;
}


.selected-day-selector {

    padding: 2px 16px;
    box-shadow: 0 4px 8px 0 rgb(221, 221, 163);
    transition: 0.3s;
    border-radius: 5px;
}



.day-container {
    position: absolute;
    width: 70%;
    margin: 0 auto;
}




.scroll-buttons-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 48px;
    width: 100%;
}

.scroll-button {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

@media (max-width: 1000px) {
    h2 {
        text-align: center;
    }

    ul {
        padding-left: 0;
    }
}