.page-header {
    padding-top: 200px;
}

p {
    color: rgb(52, 163, 227);
}

table {
    text-align: center;
    margin: 0 auto;
    border: 2px solid black;
}

ul {
    list-style-type: none;
}

.small-font {
    font-size: 12px;
}

.day-temperature {
    font-weight: bold;
}

.hour-icons-container td,
th {
    border-right: 1px solid #ccc;
}

.span-data {
    text-align: left;
}

.temperature {
    background-color: rgb(237, 186, 93);
}