.scroll-buttons-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 48px;
    width: 100%;
    z-index: 10;
}

.scroll-button {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

.hour-container {
    width: 100%;
    overflow-x: hidden;
    text-align: center;
    justify-content: center;
    position: relative;

}

.hour-table {
    max-width: 1000px;
    margin: 0 auto;
    border: none !important;
}

.hour-tbody {
    width: 100%;
    align-self: center;
}

th {
    background-color: none;
}

@media (max-width: 390px) {

    .scroll-buttons-container {
        display: inline;
    }

    .hour-table {
        max-width: 390px;
        justify-content: start;
    }

    .span-data {
        text-align: left;
    }
}