.weather-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2rem;
}

.hour-detail {
    padding: 2px;
}

.hour-table {
    display: table-cell;
    border: 1px solid;
    border-collapse: collapse;
    margin-top: 10px;
    margin-bottom: 10px;
    // padding: 10px;
}

.hour-table th {

    font-weight: bold;
    text-align: center;
    border-bottom: 1px solid #ddd;
    padding: 5px;
    background-color: #f2f2f2;
}

.hour-table tr {
    text-align: center;
    font-weight: lighter;
}

.hour-table td {
    padding: 5px;
}

.hour-table p {
    margin: 0;
    font-size: 14px;
    font-weight: normal;
    text-align: center;
}

.hour-table .small-font {
    font-size: 12px;
}