 $border-radius: 50%;

 //button shape
 .location,
 .latlon,
 .forecast,
 .test {
     width: 100px;
     height: 100px;
     margin: 10px;
     border-radius: $border-radius;
     background-color: rgb(93, 155, 182);
     color: white;
 }

 .home-main {
     text-align: center;
     margin-top: 0px;
     margin-bottom: 0px;
 }

 .icon-container {
     display: flex;
     align-items: center;
     flex-direction: column;
 }

 .center {
     width: 30vw;
 }

 .forecast {
     float: right;
 }

 .latlon {
     float: left;
 }